<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
      PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
   "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="mapper.member">
	<resultMap id="memResult" type="A001MemVO">
		<result property="memNum" column="memNum" />
		<result property="memId" column="memId" />
        <result property="memPwd" column="memPwd" />
        <result property="memName" column="memName" />
        <result property="memTel" column="memTel" />
        <result property="memEmail" column="memEmail" />
        <result property="memJoinDate" column="memJoinDate" />
        <result property="memLevel" column="memLevel" />
        <result property="memPoint" column="memPoint" />
        <result property="authId" column="authId" />
        <result property="memStateCode" column="memStateCode" />
	</resultMap> 
	
	<!-- 
	<resultMap id="memResult" type="java.util.HashMap">
      <result property="id" column="id" />
      <result property="pwd" column="pwd" />
      <result property="name" column="name" />
      <result property="email" column="email" />
      <result property="joinDate" column="joinDate" />
   </resultMap> -->

	<!-- 회원가입 -->
	<insert id='signup'>
		<![CDATA[
			INSERT INTO SCOTT.MEMBER (memNum, memid, mempwd, memname, memtel, mememail, authId)
				values (SEQ_MEMBER.nextval, #{memId}, #{memPwd}, #{memName}, #{memTel}, #{memEmail}, #{authId})
		]]>
	</insert>
	
	<!-- 아이디 중복체크-->
	<select id="idCheck" parameterType="String" resultType="Integer">
		<![CDATA[
			SELECT COUNT(*) FROM SCOTT.MEMBER
				WHERE memId = #{memId}
		]]>
	</select>

	<!-- 로그인 -->
	<select id="login" resultType="com.rice.A001.memvo.A001MemVO" parameterType="com.rice.A001.memvo.A001MemVO">
      <![CDATA[
        	select
        		memId, memName, memEmail
        	from
        		scott.member
        	where memId = #{memId}
        		and memPwd = #{memPwd}
      ]]>
	</select>
	
</mapper>	