<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
      PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
   "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="mapper.member">
	<resultMap id="memResult" type="A001MemVO">
		<result property="memNum" column="memNum" />
		<result property="memId" column="memId" />
        <result property="memPwd" column="memPwd" />
        <result property="memName" column="memName" />
        <result property="memTel" column="memTel" />
        <result property="memEmail" column="memEmail" />
        <result property="memJoinDate" column="memJoinDate" />
        <result property="memModifyDate" column="memModifyDate"/>
        <result property="memLevel" column="memLevel" />
        <result property="memPoint" column="memPoint" />
        <result property="authId" column="authId" />
        <result property="memStateCode" column="memStateCode" />
        <result property="snsId" column="snsId" />
        <result property="snsType" column="snsType" />
	</resultMap> 
	
	<!-- 회원가입 -->
	<insert id='signup'>
		<![CDATA[
			INSERT INTO MEMBER (memNum, memid, mempwd, memname, memtel, mememail, authId, memJoinDate, memModifyDate)
				values (SEQ_MEMBER.nextval, #{memId}, #{memPwd}, #{memName}, #{memTel}, #{memEmail}, #{authId}, TO_CHAR(SYSDATE,'YYYY-MM-DD'), TO_CHAR(SYSDATE,'YYYY-MM-DD'))
		]]>
	</insert>
	
	<insert id='signupauthmember'>
		<selectKey resultType="String" keyProperty="memNum" order="BEFORE">
			<![CDATA[
	       		SELECT memNum FROM member        
	       			WHERE memId = #{memId}
       		]]>
    	</selectKey>
		<![CDATA[
			INSERT INTO AUTHMEMBER(authId,memNum)
				VALUES(#{authId},#{memNum})
		]]>
	</insert>
	
	<!-- 아이디 중복체크-->
	<select id="idCheck" parameterType="String" resultType="Integer">
		<![CDATA[
			SELECT COUNT(*) FROM MEMBER
				WHERE memId = #{memId}
		]]>
	</select>

	<!-- 로그인 -->
	<select id="login" resultType="com.rice.A001.memvo.A001MemVO" parameterType="com.rice.A001.memvo.A001MemVO">
      <![CDATA[
        	select
        		memNum, memId, authId, memName, memLevel
        	from
        		member
        	where memId = #{memId}
        		and memPwd = #{memPwd}
      ]]>
	</select>
	
	<!-- 회원정보 가져오기  -->
	<select id="memInfo" resultType="com.rice.A001.memvo.A001MemVO" parameterType="String">
      <![CDATA[
        	select
        		memName, memTel, memEmail,memNum
        	from
        		member
        	where memNum = #{memNum}
      ]]>
	</select>
	
	<!-- 회원정보 수정 -->
	<update id="updateInfo" parameterType="com.rice.A001.memvo.A001MemVO">
		<![CDATA[
			UPDATE MEMBER
				SET memName=#{memName}, memTel=#{memTel}, memEmail=#{memEmail}, memModifyDate=TO_CHAR(SYSDATE,'YYYY-MM-DD')
			WHERE
				memNum=#{memNum}
		]]>
	</update>	
	
	<!-- 비밀번호 수정 -->
	<update id="updatePwd" parameterType="com.rice.A001.memvo.A001MemVO">
		<![CDATA[
			UPDATE MEMBER
				SET memPwd=#{memPwd}, memModifyDate=TO_CHAR(SYSDATE,'YYYY-MM-DD')
			WHERE
				memNum=#{memNum}
		]]>
	</update>
	
	<!-- 회원테이블 권한 수정 -->
	<update id="updateMemAuth" parameterType="com.rice.A001.memvo.A001MemVO">
		<![CDATA[
			UPDATE MEMBER
				SET authId=#{authId}, memModifyDate=TO_CHAR(SYSDATE,'YYYY-MM-DD')
			WHERE
				memNum=#{memNum}
		]]>
	</update>
	
	<!-- 권한매칭 테이블 권한 수정 -->
	<update id="updateMatchAuth" parameterType="com.rice.A001.memvo.A001MemVO">
		<![CDATA[
			UPDATE AUTHMEMBER
				SET authId=#{authId}
			WHERE
				memNum=#{memNum}
		]]>
	</update>
	
	
	<!-- SNS 아이디 중복체크-->
	<select id="snsIdCheck" parameterType="String" resultType="Integer">
		<![CDATA[
			SELECT COUNT(*) FROM MEMBER
				WHERE snsId = #{snsId}
		]]>
	</select>
	
	<!-- SNS NAVER 회원가입-->
	<insert id='snsSignup'>
		<![CDATA[
			INSERT INTO MEMBER (memNum, memId, memName, memEmail, snsId, snsType)
				values (SEQ_MEMBER.nextval, #{memId}, #{memName}, #{memEmail}, #{snsId}, #{snsType})
		]]>
	</insert>
	
	<!-- SNS KAKAO 회원가입-->
	<insert id='snsKakaoSignup'>
		<![CDATA[
			INSERT INTO MEMBER (memNum, memId, memName, snsId, snsType)
				values (SEQ_MEMBER.nextval, #{memId}, #{memName}, #{snsId}, #{snsType})
		]]>
	</insert>
	
	<!-- SNS 로그인 -->
	<select id="snsLogin" resultType="com.rice.A001.memvo.A001MemVO" parameterType="com.rice.A001.memvo.A001MemVO">
      <![CDATA[
        	select
        		memNum, memEmail, authId, snsId
        	from
        		member
        	where snsId = #{snsId}
      ]]>
	</select>
	
	
	<!-- 이름/ 전화번호로 아이디 찾기 -->
	<select id="findId" resultType="String" parameterType="com.rice.A001.memvo.A001MemVO">
      <![CDATA[
        	select
        		memId
        	from
        		member
        	where memName = #{memName}
       ]]>
        	<if test="memTel != null">
        		and memTel = #{memTel}
        	</if>
        	<if test="memEmail != null">
        		and memEmail = #{memEmail}
        	</if>
	</select>	
	
	
	<!--  비밀번호 재설정, 회원번호 찾기-->
	<select id="findNumforPwd" resultType="String" parameterType="com.rice.A001.memvo.A001MemVO">
      <![CDATA[
        	SELECT
        		memNum
        	FROM
        		member
        	WHERE memName = #{memName}
        		and memId = #{memId}
        		and memEmail = #{memEmail}
      ]]>
	</select>
</mapper>	