<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
      PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
   "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="mapper.attend">
	<resultMap id="attendResult" type="B001AttendVO">
		<result property="attendDate" column="attendDate" />
        <result property="attendInfo" column="attendInfo" />
        <result property="attendingTime" column="attendingTime" />
          <!-- <result property="joinDate" column="joinDate" /> -->
	</resultMap> 
	


	<select id="listAttend" resultType="B001AttendVO">
      <![CDATA[
         select * from tbl_attend
      ]]>
	</select>
	</mapper>
	