<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
      PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
   "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="mapper.building">
	<resultMap id="buildingResult" type="D001BuildingVO">
		<result property="bulName" column="bulName" />
		<result property="bulMgr" column="bulMgr" />
		<result property="bulPhoneNum" column="bulPhoneNum" />
		<result property="bulAddress" column="bulAddress" />
		<result property="bulClassNum" column="bulClassNum" />
		<result property="bulFloor" column="bulFloor" />
		<result property="bulId" column="bulId" />
		<result property="bulRemark" column="bulRemark" />
	</resultMap>


	<select id="getListWithPaging" resultType="D001BuildingVO">
	<![CDATA[
		select  bulName,bulMgr, bulPhoneNum, bulAddress, bulClassNum,bulFloor,bulId,bulRemark
	from(
	    select rownum rn, bulName,bulMgr, bulPhoneNum, bulAddress, bulClassNum,bulFloor,bulId,bulRemark
	    from building
	    where rownum <= (#{page}*#{amount})
	    order by bulId desc
	    )
	where rn > ((#{page}-1)*#{amount})
	]]>
	</select>

	<select id="listBuilding" resultType="D001BuildingVO"
		parameterType="String">
      <![CDATA[
         select * from building
      ]]>
	</select>

	<select id="getTotal" resultType="int">
	<![CDATA[
         select count(bulId) from building
      ]]>
	</select>


	<select id="read" resultType="D001BuildingVO">
		select * from building where
		bulId=#{bulId}
	</select>

	<delete id="delete">
		delete from building where bulId=#{bulId}
	</delete>

	<update id="update">
		update building
		set bulName=#{bulName},
		bulMgr=#{bulMgr},
		bulPhoneNum=#{bulPhoneNum},
		bulAddress=#{bulAddress},
		bulClassNum=#{bulClassNum},
		bulFloor=#{bulFloor},
		bulRemark=#{bulRemark}
		where bulId=#{bulId}
	</update>


</mapper>