<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
      PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
   "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="mapper.book">
	<resultMap id="ClassResult" type="java.util.HashMap">
		<result property="building" column="bulName" />
        <result property="title" column="classNumber" />
        <result property="id" column="classId" />
        <result property="occupancy" column="classCapacity" />
     </resultMap> 
     
     <resultMap id="BookingResult" type="java.util.HashMap">
		<result property="id" column="bookNum" />
        <result property="resourceId" column="classId" />
        <result property="start" column="bookStartTime" />
        <result property="end" column="bookEndTime" />
        <result property="title" column="title" />
     </resultMap> 
     
     <resultMap id="BookingInfoResult" type="java.util.HashMap" >
     	<result property="bookNum" column="bookNum"/>
     	<result property="classId" column="classId"/>
     	<result property="className" column="className"/>
     	<result property="bookStartTime" column="bookStartTime"/>
     	<result property="bookEndTime" column="bookEndTime"/>
     	<result property="bookTitle" column="bookTitle"/>
     	<result property="bookPurpose" column="bookPurpose"/>
     	<result property="memName" column="memName"/>     	
     </resultMap>
     
     <resultMap id="ClassInfoResult" type="java.util.HashMap" >
     	<result property="className" column="className"/>  	
     	<result property="classId" column="classId"/>
     </resultMap>
     
     <resultMap id="MyBookList" type="java.util.HashMap" >
     	<result property="bookNum" column="bookNum"/>
     	<result property="className" column="className"/>
     	<result property="bookTitle" column="bookTitle"/>
     	<result property="bookStartTime" column="bookStartTime"/>
     	<result property="bookEndTime" column="bookEndTime"/>
     	<result property="bookState" column="bookState"/>
     </resultMap>
     
     <select id="getClassList" resultMap="ClassResult">
     	<![CDATA[
     		SELECT 
			    C.CLASSNUMBER || '호' classNumber,
			    C.CLASSID classId,
			    C.CLASSCAPACITY classCapacity,
			    B.BULNAME bulName
			FROM CLASSROOM C, BUILDING B
			WHERE C.BULID = B.BULID
			ORDER BY C.BULID, C.CLASSID
     	]]>
     </select>
     
     <select id="getBookingList" resultMap="BookingResult">
	     <![CDATA[
	     	SELECT 
			    B.bookNum ,
			    B.classId ,
			    B.bookStartTime,
			    B.bookEndTime,
			    '(' || M.memName || ') ' || B.bookTitle as title
			FROM BOOKING B, MEMBER M
			WHERE B.MEMNUM=M.MEMNUM
				and B.bookCode = '1300'
		]]>
     </select>   
     
     <!-- 내 예약 현황 list 가져오기 -->
     <select id="getMybookList" resultMap="MyBookList" parameterType="java.util.HashMap">
     	<![CDATA[
	     	SELECT 
			    B.bookNum,
			    BU.bulName || ' ' || C.CLASSNUMBER || '호' className,
			    B.bookTitle,
			    SUBSTR(B.BOOKSTARTTIME, 1, INSTR(B.BOOKSTARTTIME, 'T')-1) || ' ' || SUBSTR(B.BOOKSTARTTIME, INSTR(B.BOOKSTARTTIME, 'T')+1) BOOKSTARTTIME,
			    SUBSTR(B.BOOKENDTIME, 1, INSTR(B.BOOKENDTIME, 'T')-1) || ' ' || SUBSTR(B.BOOKENDTIME, INSTR(B.BOOKENDTIME, 'T')+1) BOOKENDTIME,
			    CASE TO_CHAR(B.bookCode) 
			        WHEN '1300' THEN '<span class="label label-success">대여신청완료</span>' 
			        WHEN '1301' THEN '<span class="label label-danger">대여신청취소</span>'
			        WHEN '1302' THEN '<span class="label label-warning">대여신청대기</span>'
			    ELSE '<span class="label label-warning">오류</span>' END bookState
			FROM SCOTT.BOOKING B, CLASSROOM C, BUILDING BU
     	]]>
     	<where>
	     	<![CDATA[
		     	B.CLASSID=C.CLASSID
		    	and C.BULID=BU.BULID
		    ]]>
		    <if test=" memNum != ''  and  memNum != null">
			<![CDATA[
				and memNum= #{memNum}
			]]>
			</if>
     	</where>
     	<![CDATA[
     		ORDER BY TO_NUMBER(b.bookNum) desc
     	]]>
     </select>
     
     <!-- 스터디실 예약자 번호  get -->
     <select id="getBookingMem" resultType="String" parameterType="String">
	     <![CDATA[
	     	SELECT 
			    memNum
			FROM BOOKING
		]]>
		<where>
			<if test=" value != ''  and  value != null">
			<![CDATA[
				bookNum = #{value}
			]]>
			</if>
		</where>
     </select>  
     
     <!-- 스터디실 예약 정보  get -->
     <select id="getBookingInfo" resultMap="BookingInfoResult" parameterType="String">
	     <![CDATA[
	     	SELECT 
			    B.bookNum ,
			    B.classId ,
			    BU.BULNAME || ' ' || C.CLASSNUMBER || '호' AS className,
			    B.bookStartTime,
			    B.bookEndTime,
			    B.bookTitle,
			    B.bookPurpose,
			    M.memName
			FROM BOOKING B, MEMBER M, CLASSROOM C, BUILDING BU
			]]>
		<where>
			<![CDATA[
				B.MEMNUM = M.MEMNUM
			 	and B.CLASSID = C.CLASSID
			    and C.BULID = BU.BULID
			    and B.bookCode = '1300'
			]]>
			<if test=" value != ''  and  value != null">
			<![CDATA[
				and bookNum = #{value}
			]]>
			</if>
		</where>
     </select>  
     
     <!-- 스터디실 정보 -->
     <select id="getClassInfo" resultMap="BookingInfoResult" parameterType="String">
   		 <![CDATA[
     		SELECT        
     			 C.CLASSID, 
			    BU.BULNAME || ' ' || C.CLASSNUMBER || '호' AS className
			FROM CLASSROOM C, BUILDING BU
		 ]]>
		<where>
			<![CDATA[
				C.BULID = BU.BULID
			]]>
			<if test=" value != ''  and  value != null">
			<![CDATA[
				and C.CLASSID = #{value}
			]]>
			</if>
		</where>
     </select>
     
     
     <!-- 새로운 예약 등록 -->
     <insert id="insertBooking" parameterType="D002BookVO">
	     <![CDATA[
   	 		 INSERT INTO BOOKING
   	 		 (bookNum,classId,bookStartTime,bookEndTime,bookPurpose,memNum,bookTitle)
 		   	  VALUES(
 		   			SEQ_BOOK.NEXTVAL,
 		   			#{classId,jdbcType=VARCHAR},
 		   			#{bookStartTime,jdbcType=VARCHAR},
 		   			#{bookEndTime,jdbcType=VARCHAR},
 		   			#{bookPurpose,jdbcType=VARCHAR},
 		   			#{memNum,jdbcType=VARCHAR},
 		   			#{bookTitle,jdbcType=VARCHAR}
 		   	  )
 		 ]]>
     </insert>
     
     <!-- 예약 취소 상태 업데이트  -->
     <update id="deleteBooking" parameterType="D002BookVO">
     	<![CDATA[
     		UPDATE SCOTT.BOOKING
			SET bookCode='1301'
			where bookNum=#{bookNum, jdbcType=VARCHAR}
     	]]>     	
     </update>
     
     <!-- 예약 정보 수정 업데이트  -->
     <update id="updateBooking" parameterType="D002BookVO">
    	 <![CDATA[
     		update SCOTT.BOOKING 
			set bookStartTime=#{bookStartTime, jdbcType=VARCHAR},
			    bookEndTime=#{bookEndTime, jdbcType=VARCHAR},
			    bookPurpose=#{bookPurpose, jdbcType=VARCHAR},
			    bookTitle=#{bookTitle, jdbcType=VARCHAR}
			where bookNum=#{bookNum, jdbcType=VARCHAR}
     	]]>  
     </update>
</mapper>