<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
      PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
   "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mapper.commboard">
	<resultMap id="communityResult" type="E001CommBoardVO">
		<result property="boNum" column="boNum" />
		<result property="boContent" column="boContent" />
		<result property="boRegDate" column="boRegDate" />
		<result property="boTitle" column="boTitle" />
		<result property="boUpdateDate" column="boUpdateDate" />
		<result property="boViews" column="boViews" />
		<result property="boLikes" column="boLikes" />
		<result property="boURL" column="boURL" />
		<result property="memNum" column="memNum" />
		<result property="memId" column="memId" />
		<result property="commName" column="commName" />
	</resultMap>


	<select id="getListWithPaging" resultType="E001CommBoardVO">
		<![CDATA[
			select  boNum, boContent, boRegDate, boTitle, boUpdateDate, boViews, boLikes, boURL, memNum, memId 
		from(
		   select rownum rn, boNum, boContent, boRegDate, boTitle, boUpdateDate, boViews, boLikes, boURL, memNum, memId
		    from  (
            		select c.boNum, c.boContent, c.boRegDate, c.boTitle, c.boUpdateDate, c.boViews, c.boLikes, c.boURL, c.memNum, a.memId
            		from commboard c, member a
            		where c.memNum = a.memNum
            )
		    where rownum <= (#{page}*#{amount}) and boURL = #{commURL}
		    order by boNum desc
		    )
		where rn > ((#{page}-1)*#{amount})
		]]>
	</select>

	<select id="getCommName" resultType="String">
		select commName
		from community
		where boURL =#{commURL};
	</select>


	<select id="getTotal" resultType="int">
	<![CDATA[
         select count(boNum) from commboard
      ]]>
	</select>


	<select id="read" resultType="E001CommBoardVO">
	<![CDATA[
		select * from commboard where
		boNum=#{boNum}
		]]>
	</select>

	<insert id="insert" parameterType="E001CommBoardVO">
	<![CDATA[
		insert into commboard (boNum,boContent, boTitle, boURL, memNum, boUpdateDate, boRegDate, boLikes, boViews)
		values(seq_board.nextval, #{boContent}, #{boTitle}, #{boURL}, #{memNum}, TO_CHAR(SYSDATE,'YYYY-MM-DD'), TO_CHAR(SYSDATE,'YYYY-MM-DD'),0,0)
		]]>
	</insert>

	<delete id="delete">
	<![CDATA[
		delete from commboard where boNum=#{boNum}
		]]>
	</delete>

	<update id="update">
	<![CDATA[
		update commboard
		set boContent=#{boContent},
		boTitle=#{boTitle},
		boURL=#{boURL},
		memNum=#{memNum}
		boUpdateDate=sysdate
		where boNum=#{boNum}
		]]>
	</update>

	<update id="updateViewCnt">
	<![CDATA[
		update commboard
		set boViews=boViews+1
		where boNum=#{boNum} 
		]]>
	</update>

</mapper>