<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
      PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
   "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mapper.comm">
	<resultMap id="commResult" type="E001CommVO">
		<result property="commId" column="commId" />
		<result property="commName" column="commName" />
		<result property="commDesc" column="commDesc" />
		<result property="commLevel" column="commLevel" />
		<result property="memId" column="memId" />
		<result property="commURL" column="commURL" />
	</resultMap>

	<select id="getListWithPaging" resultType="E001CommVO">
		<![CDATA[
			select  commId, commName, commDesc, commLevel, memId, commURL
		from(
		    select rownum rn, commId, commName, commDesc, commLevel, memId, commURL
		    from community
		    order by commId desc
		    )
		where rn > ((#{page}-1)*#{amount})
		]]>
	</select>
	
	<select id="urlCheck" parameterType="String" resultType="Integer">
		<![CDATA[
			SELECT COUNT(*) FROM community
				WHERE commURL = #{commURL}
		]]>
	</select>
	<select id="nameCheck" parameterType="String" resultType="Integer">
		<![CDATA[
			SELECT COUNT(*) FROM community
				WHERE commName = #{commName}
		]]>
	</select>

	<select id="getTotal" resultType="int">
	<![CDATA[
         select count(commId) from community
      ]]>
	</select>


	<select id="read" resultType="E001CommVO">
		select * from community where
		commId=#{commId}
	</select>
	
	
	
	<insert id="insertSelectKey" parameterType="E001CommVO">
		<selectKey keyProperty="commId" order="BEFORE" resultType="String">
			select seq_community.nextval from dual
		</selectKey>
		 <![CDATA[ 
		insert into community(commId, commName, commDesc, commLevel, memId, commURL) 
		values(#{commId},#{commName},#{commDesc},#{commLevel},#{memId},#{commURL})
	 ]]>
	</insert>

</mapper>
