<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
      PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
   "http://mybatis.org/dtd/mybatis-3-mapper.dtd">



<mapper namespace="mapper.f001Lecture">	
 	<resultMap type="F001LectureVO" id="f001Lecture">
 		<result property="subId" column="subId"/>
 		<result property="codeName" column="codeName"/>
 		<result property="codeOrder" column="codeOrder"/>
 		<result property="subCode" column="subCode"/>
 		<result property="subDesc" column="subDesc"/>
 		<result property="subRegDate" column="subRegDate"/>
 		<result property="subAblDate" column="subAblDate"/>
 		<result property="classId" column="classId"/>
 		<result property="openclassName" column="openclassName"/>
 		
 	</resultMap>

	<resultMap type="java.util.Map" id="HashMap">
		<result property="ordernum" column="ordernum"/>
		<result property="totalpayamt" column="totalpayamt"/>
		<result property="classprice" column="classprice"/>
		<result property="openclassid" column="openclassid"/>
		<result property="orderdate" column="orderdate"/>
		<result property="openclassname" column="openclassname"/>
	</resultMap>
<!-- select subCode -->
	<select id="selectSubCode" resultType="java.util.Map">
      <![CDATA[
		select codeName, codeId from code where codegroup='14' ORDER by codeorder
		      ]]>
	</select>


<!--select subject sequence -->
	<select id="selectSubSeq" resultType="java.util.Map">
      <![CDATA[
		select seq_subject.nextval subId from dual
      ]]>
	</select>


<!-- insert lecture -->
<insert id="lectureAdd" parameterType="F001LectureVO">
      <![CDATA[
		INSERT INTO SUBJECT(subId,subName,subDesc,subRegDate,subAblDate,subCode)
   		 VALUES(#{subId,jdbcType=VARCHAR},#{subName,jdbcType=VARCHAR},#{subDesc,jdbcType=VARCHAR},#{subRegDate,jdbcType=VARCHAR},#{subAblDate,jdbcType=VARCHAR},#{subCode,jdbcType=VARCHAR})
      ]]>
</insert>



<!-- select SubInfo -->
	<select id="selectSubInfo" resultType="java.util.Map">
      <![CDATA[
		SELECT 
		    subId,
		    subName,
		    subDesc,
		    subRegDate,
		    subAblDate,
		    subCode
		FROM SUBJECT
		order by subname
		      ]]>
	</select>




<!-- select LecturePlanInfo -->
	<select id="selectLecturePlanInfo" resultType="java.util.Map">
      <![CDATA[
		SELECT 
		       memNum
		FROM LECTUREPLAN
	    where planCode = #{subCode,jdbcType=VARCHAR}
		      ]]>
	</select>

<!-- 이름가져오기 -->
	<select id="selectMemName" resultType="String">
      <![CDATA[
		select 
			memname 
		from 
			member 
		where 
			memnum=#{memNum,jdbcType=VARCHAR}
		      ]]>
	</select>
<!-- 이름다시 가져오기 -->
	<select id="reGetTeaName" resultType="String">
      <![CDATA[
		select 
			memname 
		from 
			member 
		where 
			memnum=#{memNum,jdbcType=VARCHAR}
		      ]]>
	</select>
	
	
<!-- 강의정보 가져오기 -->
	<select id="lecturePlanInfoND" resultType="java.util.Map">
      <![CDATA[
		SELECT 
		    planLectureContent,
		    planId,
		    planName,
		    planCode,
		    memNum
		FROM LECTUREPLAN
	    where planCode = #{subCode,jdbcType=VARCHAR}
	    and memNum = #{memNum,jdbcType=VARCHAR}
		      ]]>
	</select>
	
	

<!-- 강의정보 가져오기 전체 -->
	<select id="selectLecPlanId" resultType="java.util.Map">
      <![CDATA[
		SELECT 
		   planStartDate,
		   planLectureContent,
		   planId,
	       planEndDate,
	       planStartTime,
	       planEndTime,
	       planName,
	       planDescFile,
	       planCapacity,
	       planCode,
	       planDescFile,
	       memNum
		FROM LECTUREPLAN
	    where planId = #{planId,jdbcType=VARCHAR}
		      ]]>
	</select>



<!-- 오픈클래스 등록 -->
	<insert id="insertOpenLec" >
      <![CDATA[
		INSERT INTO OPENCLASS
		(
			openStartDate,
			classDesc,
			classId,
			openclassId,
			classCapacity,
			memNum,
			classPrice,
			openclassName,
			subId,
			openEndDate,
			openStartTime,
			openEndTime
			)
    VALUES(
		    #{openStartDate,jdbcType=VARCHAR},
		    #{classDesc,jdbcType=VARCHAR},
		    #{classId,jdbcType=VARCHAR},
		    (seq_lecOpen.nextval),
		    #{classCapacity},
		    #{memNum,jdbcType=VARCHAR},
		    #{classPrice,jdbcType=VARCHAR},
		    #{openclassName,jdbcType=VARCHAR},
		    #{subId,jdbcType=VARCHAR},
		    #{openEndDate,jdbcType=VARCHAR},
		    #{openStartTime,jdbcType=VARCHAR},
		    #{openEndTime,jdbcType=VARCHAR}
		    )
		      ]]>
	</insert>


<select id="classIdLec" resultType="java.util.Map">
      <![CDATA[
		SELECT 
			a.bulid,
		    b.bulName,
		    a.classnumber,
		    a.classCapacity
		FROM CLASSROOM a , building b
		where classcode = '강의실'
		and a.bulid=b.bulid
		order by b.bulName
		      ]]>
	</select>

<select id="bulCodeLec" resultType="java.util.Map">
      <![CDATA[
		SELECT 
			a.bulid,
		    b.bulName,
		    a.classnumber,
		    a.classCapacity,
		    a.classId
		FROM CLASSROOM a , building b
		where classcode = '강의실'
		and a.bulid=#{bulId}
		and a.bulid=b.bulid
		order by b.bulName
		      ]]>
	</select>
<!-- 강사이름으로 검색 -->
<select id="selectTeaName" resultType="java.util.Map">
      <![CDATA[
	select
		 a.memnum,a.memname 
    from
		(
	select 
	memnum, memname from member where authid='1002' and memname like '%'||#{memName,jdbcType=VARCHAR}||'%'
		)
		a,
		(
	select 
		* 
	from 
		LECTUREPLAN
	where 
		planCode=#{subId,jdbcType=VARCHAR}
		) b 
	where 
	a.memnum=b.memnum
		      ]]>
	</select>

<!-- 수강신청 관련 조회 -->
<select id="enrolmentInfo" resultType="java.util.Map">
      <![CDATA[
		SELECT 
		   a.openStartDate,
		   a.classDesc,
		   a.classId,
		   a.openclassId,
		   a.classCapacity,
		   a.classDescFile,
		   a.memNum,
		   a.classPrice,
		   a.openclassName,
		   a.subId,
		   a.openEndDate,
		   a.openStartTime,
		   a.openEndTime,
		   a.classSun,
		   a.classMon,
		   a.classTue,
		   a.classWed,
		   a.classThur,
		   a.classFri,
		   a.classSat,
		   b.memname
		FROM OPENCLASS a, member b
		where a.memnum=b.memnum
	      ]]>
	</select>

<select id="partnerOrderId" resultType="java.util.Map">
      <![CDATA[
			select seq_enrolment.nextval enrId from dual
      ]]>
	</select>
	
<!-- 	수강신청 -->
	
	<insert id="insertEnrolLec" parameterType="java.util.HashMap">
  	  <foreach collection="wholeEnrol" item="item" separator=" " open="INSERT ALL" close="SELECT * FROM DUAL">
		
  	   		INTO 
    		ENROLMENT
	    		(
		    		finalScore,
		    		finalGrade,
		    		studyApplyCode,
		    		enrId,
		    		studyteamId,
		    		openclassId,
		    		memNum,
		    		classApplyCode,
		    		enrDate,
		    		openclassName
	    		)
  			VALUES
  				(0,'','1700',#{item.cId}||#{memNum},'',#{item.cId},#{memNum},'1602',TO_CHAR(SYSDATE, 'yyyy-mm-dd'),#{item.cName})
  			  </foreach>
	</insert>
	
 
<!--  수강신청 시  검색에서 과목선택 -->
 <select id="searchClassIdName" resultType="java.util.Map">
      <![CDATA[
			SELECT 
			      codeName,
			      codeId
			FROM CODE
			WHERE codeGroup='14'

      ]]>
	</select>
 
 <select id="searchClassTea" resultType="java.util.Map">
      <![CDATA[
		 SELECT 
		    a.memNum,
		    b.memName
		FROM OPENCLASS a, MEMBER b
		where a.memNum = b.memNum
    ]]>
	</select>
	
<!--  보류과목삭제 -->
 <select id="holdDel" resultType="java.util.Map">
      <![CDATA[
			delete from enrolment where CLASSAPPLYCODE='1602' and memNum=#{memNum}
      ]]>
	</select>
	
	
<!--  듣고있는 과목 id 검색 -->
 <select id="delRegL"  resultType="java.util.Map">
      <![CDATA[
			select openclassid from enrolment where memnum=#{memNum} and classapplycode='1600'
      ]]>
	</select>
	
	
<select id="getSubIdJspC"  resultType="java.util.Map">
      <![CDATA[
		 SELECT 
			    a.memNum,
			    b.memName
		FROM OPENCLASS a, MEMBER b
		where a.memNum = b.memNum and a.subid=#{subId}
	   ]]>
	</select>
	
	
<update id="insertCart" parameterType="java.util.HashMap">
		  merge into cart m
		  using ( select #{cartOrderId} as cartOrderId, #{cId} as cId, #{cPrice} as cPrice, #{memNum} as memNum
		          from dual ) e
		  on (m.openclassId = e.cId and m.buyer=e.memNum )         
		  when matched then 
			    update set cartNum = e.cartOrderId, classPrice = e.cPrice
		  when not matched then
		  		 insert (openclassId, cartNum, classPrice, buyer)
   		  values (e.cId, e.cartOrderId, e.cPrice, e.memNum) 
</update>
	
	<update id="paidlist" parameterType="String">
	<![CDATA[
		update enrolment 
			set 
			classapplycode='1600' 
		where enrid=#{enrId}
     ]]>
	</update>	
	
	
	<!-- 장바구니 -->
<insert id="savePaidlist" parameterType="java.util.HashMap">
	INSERT INTO 
	PAYINFO
		(
			orderNum,
			totalPayAmt,
			buyer,
			orderDate,
			orderCode
		)
	    VALUES(#{orderId},#{amountTotal},#{memNum},#{approveTime},#{orderId})
</insert>

<select id="searchSub"  resultType="String">
      <![CDATA[
		 select classprice from openclass where openclassid=#{tempId}
	   ]]>
</select>


<insert id="insertOrderList" parameterType="java.util.HashMap">
	INSERT 
	INTO 
	ORDERLIST
	(
		orderNum,
		openclassId,
		classPrice
	)
    VALUES(#{orderId},#{tempId},#{classPrice})
</insert>


<!-- 장바구니 -->
<select id="cartInfo"  resultType="java.util.Map">
      <![CDATA[	
			select dd.memnum, dd.memname, cc.classnumber,cc.CLASSCAPACITY, cc.CLASSDESC, cc.SUBID, cc.MEMNUM, cc.OPENENDDATE, cc.CLASSTUE, cc.OPENCLASSDAYS, cc.OPENCLASSID, cc.OPENSTARTDATE,
			cc.CARTNUM, cc.OPENSTARTTIME, cc.BUYER, cc.CLASSPRICE, cc.CLASSTHUR, cc.OPENCLASSNAME, cc.CLASSID, cc.OPENENDTIME
    	from(select 
			bb.classnumber,aa.CLASSCAPACITY, aa.CLASSDESC, aa.SUBID, aa.MEMNUM, aa.OPENENDDATE, aa.CLASSTUE, aa.OPENCLASSDAYS, aa.OPENCLASSID, aa.OPENSTARTDATE,
			aa.CARTNUM, aa.OPENSTARTTIME, aa.BUYER, aa.CLASSPRICE, aa.CLASSTHUR, aa.OPENCLASSNAME, aa.CLASSID, aa.OPENENDTIME
		from  (select
					a.CLASSCAPACITY, a.CLASSDESC, a.SUBID, a.MEMNUM, a.OPENENDDATE, a.CLASSTUE, a.OPENCLASSDAYS, a.OPENCLASSID, a.OPENSTARTDATE,
					b.CARTNUM, a.OPENSTARTTIME, b.BUYER, a.CLASSPRICE, a.CLASSTHUR, a.OPENCLASSNAME, a.CLASSID, a.OPENENDTIME
			   from openclass a, cart b where a.openclassId=b.openclassid and b.buyer=#{memNum}) aa, 
			  (select 
			  		classnumber, classId 
			   from classroom)bb 
        where aa.classid=bb.classid)cc, member dd where cc.MEMNUM= dd.memnum
	   ]]>
</select>	

<delete id="delCartList" parameterType="java.util.Map">
	<![CDATA[
		delete from cart where buyer = #{memNum} and openclassid=#{openclassId}
     ]]>
</delete>	
	
	
	
<delete id="wholeDelButton" parameterType="java.util.Map">
	<![CDATA[
		delete from cart where buyer=#{memNum} and openclassid=#{openclassId}
     ]]>
</delete>

<delete id="selectDelButton" parameterType="java.util.Map">
	<![CDATA[
		delete from cart where buyer=#{memNum} and openclassid=#{openclassId}
     ]]>
</delete>
<select id="paidList"  resultType="java.util.Map">
      <![CDATA[	
       select 
	       	min(aa.buyer) as buyer ,min(aa.ordercode) as ordercode, count(aa.ordercode) as countordercode ,
	        min(aa.orderdate) as orderdate , min(aa.totalpayamt) as totalpayamt, 
	        min(aa.openclassid ) as openclassid	, min(bb.openclassname) as openclassname
	   from (select
			a.buyer , a.ordercode , a.orderdate , a.ordernum , a.totalpayamt ,b.classprice , b.openclassid , b.ordernum  
	   FROM 
	    	payinfo a, orderlist b where a.ordernum=b.ordernum  and a.buyer=#{memNum,jdbcType=VARCHAR})aa, openclass bb
	   where aa.openclassid=bb.openclassid group by aa.ordercode order by to_number(ordercode) desc, openclassname desc
	   ]]>
</select>

<select id="paidListDetail"  resultType="java.util.Map">
      <![CDATA[	
			select aaa.classdesc classdesc, aaa.classid classid, 
				aaa.classprice classprice, aaa.openclassname openclassname, 
				aaa.memnum memnum, aaa.orderdate orderdate, aaa.ordercode,
				bbb.memname memname, 
				aaa.openstartdate openstartdate, aaa.openstarttime openstarttime, aaa.openenddate openenddate, 
				aaa.openendtime openendtime, aaa.classfri classfri, aaa.classmon classmon, aaa.classtue classtue, 
				aaa.classwed classwed, aaa.classthur classthur, aaa.classsat classsat, aaa.classsun classsun
			from
			
			(select bb.classdesc classdesc, 
				bb.classid classid, bb.classprice classprice ,
				bb.openclassname openclassname, bb.memnum memnum,
				aa.orderdate orderdate, aa.ordercode ordercode, 
				bb.openstartdate openstartdate,bb.openstarttime openstarttime, bb.openenddate openenddate, bb.openendtime openendtime,
				bb.classfri classfri, bb.classmon classmon, bb.classtue classtue, bb.classwed classwed, bb.classthur classthur,
				bb.classsat classsat, bb.classsun classsun
			from 
				(select 
					a.classprice , a.openclassid , a.ordernum , 
					b.buyer , b.ordercode , b.orderdate , b.ordernum , b.totalpayamt  
			from 
					orderlist a,payinfo b 
			where a.orderNum=b.orderNum and buyer=#{buyer} and a.orderNum=#{cartNum})aa, openclass bb 
			where aa.openclassid=bb.openclassid) aaa , member bbb where aaa.memnum=bbb.memnum order by aaa.openclassname
	   ]]>
</select>

<select id="selectBulCl"  resultType="java.util.Map">
      <![CDATA[	
			select b.classnumber, c.bulname from OPENCLASS a, CLASSROOM b, BUILDING c 
			where a.classid=b.classid and b.bulid=c.bulid and a.openclassid=#{openclassId}
	   ]]>
</select>


<select id="searchOpenClT"  resultType="java.util.Map">
      <![CDATA[	
		   select  DISTINCT
		   	   b.memname,
		       c.openStartDate,
			   c.classDesc,
			   c.classId,
			   c.openclassId,
			   c.classCapacity,
			   c.classDescFile,
			   c.memNum,
			   c.classPrice,
			   c.openclassName,
			   c.subId,
			   c.openEndDate,
			   c.openStartTime,
			   c.openEndTime,
			   c.classSun,
			   c.classMon,
			   c.classTue,
			   c.classWed,
			   c.classThur,
			   c.classFri,
			   c.classSat
		 from subject a , member b, openclass c
		 ]]> 
		<where>
		  	<![CDATA[ a.subcode=c.subid and c.memnum=b.memnum  ]]>
		  	
			<if test="subCode != null and subCode !=''"> 
		       		<![CDATA[ and a.subCode=#{subCode} ]]></if>	
			<if test="memNum != null and memNum !=''">  	
		      		<![CDATA[ and b.memNum=#{memNum} ]]></if>
		    <if test="searchKey != null and searchKey !=''">
		  		<![CDATA[ and   
		       ( b.memname || c.classdesc ||
		       c.openclassname || c.openenddate ||
		         c.subid) like 	'%' || #{searchKey} ||'%' ]]> </if>
		</where>
	    order by  c.openStartDate
</select>



<select id="lecCodeVal"  resultType="java.util.Map">
      <![CDATA[	
			select codeid , codename from code where codegroup='14'
	   ]]>
</select>


<insert id="lecturePlanAdd" parameterType="java.util.HashMap">
	<![CDATA[
	Insert into LECTUREPLAN (
	
		PLANSTARTDATE,PLANLECTURECONTENT,
		PLANID,PLANENDDATE,
		PLANSTARTTIME,PLANENDTIME,
		PLANNAME,
		PLANCAPACITY,PLANCODE,
		MEMNUM,CLASSMON,
		CLASSTUE,CLASSWED,
		CLASSTHUR,CLASSFRI,
		CLASSSAT,CLASSSUN
	) 
	values (
		#{planStartDate,jdbcType=VARCHAR},#{planLectureContent,jdbcType=VARCHAR},
		(seq_PLANID.nextval),#{planEndDate,jdbcType=VARCHAR},
		#{planStartTime,jdbcType=VARCHAR},#{planEndTime,jdbcType=VARCHAR},
		#{planName,jdbcType=VARCHAR},
		#{planCapacity,jdbcType=VARCHAR},#{planCode,jdbcType=VARCHAR},
		#{memNum,jdbcType=VARCHAR},#{classMon,jdbcType=VARCHAR},
		#{classTue,jdbcType=VARCHAR},#{classWed,jdbcType=VARCHAR},
		#{classThur,jdbcType=VARCHAR},#{classFri,jdbcType=VARCHAR},
		#{classSat,jdbcType=VARCHAR},#{classSun,jdbcType=VARCHAR}
	)
	]]>
</insert>
		
				
</mapper>
